/word/target/

/wordman/platforms/android/CordovaLib/ant-build/
/wordman/platforms/android/CordovaLib/ant-gen/
/wordman/platforms/android/ant-build/
/wordman/platforms/android/ant-gen/
/wordman/nbproject/private/

*.class
*.apk
/wordman/nbproject/private/