/**
* base style
*
* @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
* @version 0.0.0.1, May 11, 2014
*/
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: 'HelveticaNeue-Light', '微软雅黑';
    font-size:1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* start function */
.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-none {
    display: none;
}
/* end function */

/* start common */
.wrap {
    margin: 0 auto;
    padding: 0 1em;
}

.list li {
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}

.list li.last {
    border-bottom-width: 0;
}

header {
    background-color: #F5F5F5;
    padding: 0.3125em 1rem;
    font-size: 1.6rem;
}

.btn {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #FFFFFF;
    outline: none;
}

.btn-green {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.btn-green:hover {
    background-color: #47A447;
    border-color: #398439;
}

.btn-red {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.btn-red:hover {
    background-color: #D2322D;
    border-color: #AC2925;
}

.btn-orange {
    background-color: #F0AD4E;
    border-color: #EEA236;
}

.btn-orange:hover {
    background-color: #ED9C28;
    border-color: #D58512;
}
/* end common */
/* start lexicon list */
.lexicon .rate {
    height: 4em;
    background-color: rgba(150,205,233,0.8);
    z-index: 6;
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
}

.lexicon .intro {
    width: 76%;
    position: relative;
    height: 4em;
    padding-left: 1em;
    box-sizing: border-box;
}

.lexicon .blue {
    background-color: #D9EDF7;
    color: #1D4356;
}

.lexicon .red {
    background-color: #FCF8E3;
    color: #8A6D3B;
}

.lexicon .title {
    font-size: 1.2em;
    padding-top: 0.4em;
}

.lexicon .detail {
    font-size: 0.8em;
    color: #30708f;
}

.lexicon .red .detail {
    color: #b89559;
}

.lexicon .link {
    color: #FFF;
    height: 4em;
    line-height: 4em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.lexicon .link-red {
    background-color: #D95C5C;
}

.lexicon .link-green {
    background-color: #5BBD72;
}
/* end lexicon list */

/* end recite word */
.recite-word .word {
    padding: 1em;
    border-bottom: 2px solid #BCE8F1;
    background-color: #D9EDF7;
}

.recite-word .explain {
    padding: 1em;
    border-bottom: 2px solid #FAEBCC;
    background-color: #FCF8E3;
}

.recite-word .class {
    background-color: #EEEEEE;
    padding: 0.3125em 0.8125em;
    border-radius: 0.8125em;
    margin-right: 1em;
    border: 1px solid #DDDDDD;
}

.recite-word input {
    height: 3rem;
    width: 100%;
    display: block;
    font-size: 2em;
    padding: 0 0.3125em;
    border: 1px solid #CCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
}

.recite-word input:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.recite-word .btns {
    padding: 1em;
}

.recite-word .btns > .btn {
    width: 45%;
}

.recite-word .input-wrap {
    padding: 1em;
    
}
/* end recite word */