/**
* base style
*
* @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
* @version 1.2.0.3, July 7, 2014
*/
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: 'HelveticaNeue-Light', '微软雅黑';
    font-size: 1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?5g5st9');
    src:url('fonts/icomoon.eot?#iefix5g5st9') format('embedded-opentype'),
        url('fonts/icomoon.woff?5g5st9') format('woff'),
        url('fonts/icomoon.ttf?5g5st9') format('truetype'),
        url('fonts/icomoon.svg?5g5st9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* start icon */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard:before {
    content: " ";
}
.icon-erase:before {
    content: "\e602";
}
.icon-arrow:before {
    content: "\e603";
}
.icon-arrow-up:before {
    content: "\e604";
}
/* end icon */

/* start function */
.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-none {
    display: none;
}

.ft-gray {
    color: gray;
    font-size: 0.8em;
}
/* end function */

/* start tip */
.tip-content {
    background-color: #303537;
    display: none;
    margin: 0 auto;
    padding-bottom: 1em;
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 0;
    width: 100%;
}

#tipTitle {
    border-bottom: 1px solid #5F9200;
    color: #5F9200;
    height: 2em;
    line-height: 2em;
    padding-left: 0.5em;
    text-align: left;
}

#tipContent {
    color: #5F9200;
    text-align: center;
    padding: 0em 0.4em 1em;
}

.tip-content .button {
    margin: 0 auto;
    width: 90%;
    display: block;
}
/* end tip */

/* start keybored */
.keyboard {
    background-color: #1F1F1F;
    width: 100%;
    bottom: 0;
}

.keyboard.uppercase {
    text-transform: uppercase;
}

.keyboard span {
    float: left;
    background-color: #474747;
    color: #FFF;
    border: 1px solid #1F1F1F;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    padding: 0.1em 0;
    line-height: 2em;
    height: 2.5em;
}

.keyboard span.touch {
    background-color: #BCE8F1;
}

.keyboard span.long {
    width: 15%;
}

.keyboard span.longer {
    width: 25%;    
}
/* end keybored */

/* start common */
.wrap {
    margin: 0 auto;
    padding: 0 1em;
}

.list li {
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}

.list li.last {
    border-bottom-width: 0;
}

header {
    background-color: #dddddd;
    padding: 0.3125em 0.5em;
    font-size: 1.2em;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-color: #1B1B1B;
    color: #fff;
    text-align: center;
}

.btn {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
    color: #777;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #FFFFFF;
    outline: none;
    font-size: 1em;
}

.btn-green {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.btn-green:hover {
    background-color: #47A447;
    border-color: #398439;
}

.btn-red {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.btn-red:hover {
    background-color: #D2322D;
    border-color: #AC2925;
}

.btn-orange {
    background-color: #F0AD4E;
    border-color: #EEA236;
}

.btn-orange:hover {
    background-color: #ED9C28;
    border-color: #D58512;
}

.input-wrap {
    padding: 0.5em;
}

.input {
    height: 2em;
    width: 100%;
    display: block;
    font-size: 1em;
    padding: 0 0.3em;
    border: 1px solid #CCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-sizing: border-box;
}

.input:focus {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}
/* end common */

/* start lexicon list */
.lexicon .rate {
    height: 3em;
    background-color: rgba(150,205,233,0.8);
    z-index: 6;
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
}

.lexicon .intro {
    background-color: #D9EDF7;
    color: #1D4356;
    width: 70%;
    position: relative;
    height: 3em;
    box-sizing: border-box;
    padding: 0.2em 0 0 0.5em;
}

.lexicon .red {
    background-color: #FCF8E3;
    color: #8A6D3B;
}

.lexicon .detail {
    font-size: 0.7em;
    color: #30708f;
}

.lexicon .red .detail {
    color: #b89559;
}

.lexicon .link {
    color: #FFF;
    height: 3em;
    line-height: 3em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    box-sizing: border-box;
    text-decoration: none;
    width: 15%;
    position: relative;
    text-align: center;
}

.lexicon .link-red {
    background-color: #D95C5C;
}

.lexicon .link-green {
    background-color: #5BBD72;
}
.lexicon .link-orange {
    background-color: #f0ad4e;
    width: 30%;
}

.lexicon .link .count {
    color: rgba(0, 0, 0, 0.2);
    font-size: 2.4em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}
/* end lexicon list */

/* end recite word */
.recite-word .word {
    padding: 0.5em;
    border-bottom: 2px solid #FAEBCC;
    background-color: #FCF8E3;
    font-size: 1.3em;
    min-height: 1.35em;
}

.recite-word .explain {
    padding: 0.5em;
    border-bottom: 2px solid #BCE8F1;
    background-color: #D9EDF7;
    margin-bottom: 0.5em;
    min-height: 1.35em;
}

.recite-word .btns {
    padding: 0 0.5em 0.5em 0.5em;
    height: 2em;
}

.recite-word .btns > .btn {
    width: 45%;
}
/* end recite word */

/* start review word */
.review-word li {
    text-align: left;
    font-size: 1em;
    border-bottom: 1px solid #5F9200;
    color: #FFF;
    padding: 0.5rem 1rem;
}

.review-word small {
    color: #5F9200;
}
/* end review word */

/* start dict list */
.dict {
    background-color: #303537;
}
/* end dict list */

/* start flash screen */
#setup {
    background-color: #F47B5A;
    height: 100%;
    width: 100%;
    color: #FFF;
    text-align: center;
    display: none;
}

#setup a {
    color: #600600;
}

#copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -96px;
}

@-webkit-keyframes wordman {
    0% {-webkit-transform: rotate(0deg);left:0px;}
    25% {transform: rotate(20deg);left:0px;}
    100% {-webkit-transform: rotate(-360deg);left:50%;}
}

#wordman {
    color: #6B0500;
    font-size: 2em;
    font-weight: bold;
    position:absolute;
    top: 50%;
    -webkit-animation:wordman 5s 1;
    animation:wordman 5s 1;
    left: 50%;
    margin-left: -81px;
    margin-top: -2em;
}

@-webkit-keyframes wordmanc {
    0%   {color: #F47B5A;}
    25%  {color: #FFF;}
    50%  {color:#6B0500;}
    100% {color: #FFF;}
}

#wordmanC {
    color:#FFF;
    -webkit-animation: wordmanc 5s ease-in-out 5s 1;
    animation:wordmanc 5s 1;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -24px;
}
/* end flash screen */