<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="org.b3log.wordman" version="1.0.3">
    <name>沃德曼</name>
    <description>
        沃德曼背单词
    </description>
    <author email="DL88250@gmail.com" href="http://b3log.org">
        B3log Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
