<div ng-include src="'common/header.html'"></div> 
<div ng-controller="LexiconCtrl" class="lexicon">
    <ul class="list">
        <li ng-repeat="lexicon in lexicons" class="fn-clear">
            <div ng-if="lexicon.hasReview">
                <div class="fn-left intro blue">
                    <div class="title">{{lexicon.title}}</div>
                    <span class="detail">总计 {{lexicon.count}} 个单词</span>
                    <div class="rate" style="width: {{lexicon.progress}}%"></div>
                </div>
                <a href="#recite-word/{{lexicon.id}}" class="fn-right link link-green" style="width: 12%">学习</a>
                <a href="review-word.html" 
                   class="fn-right link link-red"
                   ng-show="{{lexicon.hasReview}}" 
                   style="width: 12%">复习</a>
            </div>

            <div ng-if="!lexicon.hasReview">
                <div class="fn-left intro red" style="width: 88%">
                    <div class="title">{{lexicon.title}}</div>
                    <span class="detail">总计 {{lexicon.count}} 个单词</span>
                </div>
                <a href="recite-word.html?id={{lexicon.id}}" class="fn-right link link-green" style="width: 12%">学习</a>
            </div>
        </li>
    </ul>
</div>


