<header class="fn-clear">
    <span class="fn-left" ng-click="back()">返回</span>
    <span class="fn-right">{{index + 1}}/{{reviewWords.length}}</span>
</header>
<div class="recite-word">
    <div class="explain">
        {{explain}}
    </div>
    <div class="input-wrap">
        <input class="input" readonly="readonly"
               placeholder="拼写一次吧" 
               id="wordInput" 
               ng-model="inputWord"/>
    </div>
    <div class="btns fn-clear">
        <button class="btn fn-right btn-green" ng-click="reviewNext()">确定</button>
    </div>
</div>
<div class="tip-content">
    <div id="tipTitle">错误单词</div>
    <div>
        <div id="tipContent">
            <ul class="review-word">
                <li ng-repeat="word in errorWords" class="fn-clear">
                    <div class="fn-left">
                        <big>{{word.letter}}</big>
                        <div class="ft-gray">{{word.sounds}}</div>
                        <small>{{word.explain}}</small>
                    </div>
                    <button class="fn-right btn" ng-click="addDict(word.id, word.classId, $event.target)">+</button>
                </li>
            </ul>
        </div> 
        <button class="btn btn-red" onclick="tip.close()">确 定</button>
    </div>
</div>
