<header class="fn-clear">
    <span class="fn-left" ng-click="back()">返回</span>
    <span class="fn-right">{{index + 1}}/{{reviewWords.length}}</span>
</header>
<div class="recite-word">
    <div class="explain">
        {{explain}}
    </div>
    <div class="input-wrap">
        <input class="input" id="reviewInput" ng-show="!hasStudy" ng-model="inputWord" ng-keyup="mattch($event)"/>
    </div>
    <div class="btns fn-clear">
        <button class="btn fn-right btn-green" ng-click="reviewNext()">确定</button>
    </div>
</div>
<div class="tip-content">
    <div id="tipTitle">错误单词</div>
    <div>
        <div id="tipContent">
            <ul class="review-word">
                <li ng-repeat="word in errorWords" class="fn-clear">
                <big>{{word.letter}}</big>
                <span class="ft-gray">{{word.sounds}}</span>
                <br/>
                <small>{{word.explain}}</small>
                </li>
            </ul>
        </div>
        <button class="btn" onclick="tip.close()">确 定</button>
    </div>
</div>
<div class="tip-bg"></div>
